.body {
 margin: 0px;
 padding: 0px;
}

.header {
 font-size: 50px;
 padding: 10px 500px;;
}
.form-index {
 margin: 5px 450px;
 width: 200px;
 height: 30px;
 font-size: 18px;
}
.todo-list {
 list-style: none;
 margin: 5px 450px;
 font-size: 20px;
}
